@model ContactModel

@{
    ViewData["Title"] = "Détails d'un contact";
}

@if (Model != null)
{
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body pb-0">
                        <div class="row align-items-center">
                            <div class="col-md-4">
                                <div class="text-center border-end">
                                    <img src="@Model.Photo" style="width: 25%" class="img-thumbnail rounded-circle" alt="">
                                    <h4 class="text-primary font-size-20 mt-3 mb-2">@Model.Lastname @Model.Firstname</h4>
                                    <h5 class="text-muted font-size-13 mb-0"></h5>
                                </div>
                            </div><!-- end col -->
                            <div class="col-md-8">
                                <div class="ms-3">
                                    <div>
                                        <p class="mb-0 text-muted">@Html.DisplayNameFor(m => m.Resume) : @Model.Resume</p>
                                    </div>
                                    <div class="row my-4">
                                        <div class="col-md-12">
                                            <div>
                                                <p class="text-muted mb-2 fw-medium">
                                                    ✉️ <a href="mailto:@Model.Email">@Model.Email</a>
                                                </p>
                                                <p class="text-muted fw-medium mb-0">
                                                    📞 @Model.Phone
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="alert alert-danger" role="alert">
        Ce contact n'existe pas :-(
    </div>
}